@media only screen { html { font-size: 30px; } }
@media only screen and (max-width: 479px) and (min-width: 321px) { html { font-size: 15px; } }
@media only screen and (max-width: 320px) { html { font-size: 13px; } }

@media only screen and (max-width: 959px){
	#container{
		width: 95%;
		padding: 1.5em .5em;
		}
}