// @import "~prismjs/themes/prism.css"

.table-of-contents {
  color: #444;
  position: fixed;
  right: 0;
  max-width: 300px;
  padding-right: 20px;
  max-height: 70%;
  overflow: scroll;

  a {
    font-weight: 400;
    color: #444;
    font-size: 13px;
  }
}

.table-of-contents {
  display: none;
}

@media screen and (min-width: 1500px) {
  .page {
    padding-right: 230px;
  }
  
  .table-of-contents {
    display: block;
  }
}
