doctype
html(lang='zh-CN', xml:lang='zh-CN')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    link(rel='stylesheet', href='css/normalize.css')
    link(rel='Stylesheet', href='css/style.css')
    // link(rel='Stylesheet', href='css/tango.css')
    link(rel='Stylesheet', href='css/github-markdown.css')
    link(rel='stylesheet', href='css/media-queries.css')
    // link(href='http://fonts.useso.com/css?family=Cousine|Droid+Sans+Mono', rel='stylesheet', type='text/css')
    title
    script(src='js/detect-microsoft-edge.js')
    script(src='js/config.js')
    script(src='js/ajax.js')
    script(src='js/util.js')
    script(src='js/app.js')
  body
    #home
      #container
        #blog_title
        #index
          #wait.loading-book
          ul#post_list
          .clearfix
    #page
      #container
        #header
          #post-nav
            a(href='/') Home
        .clearfix
        #title
        #content.markdown-body
          #wait.loading
        #comment
    #footer

script.
  var id = parseInt(loadPageVar("p"));
  if (id) {
      hideElement("home");
      showElement("page");
      gotoPage(id);
  } else {
      hideElement("page");
      showElement("home");
      gotoHome();
  }